python==3.6.9
easydict==1.9
importlib-metadata==4.8.3
opencv-contrib-python==3.4.2.16
opencv-python==3.4.2.16
Pillow==8.4.0
scikit-learn
scipy
srsly==2.4.5
tabulate==0.8.9
tensorboardX==1.7
Theano==0.9.0
thinc==8.1.5
thop==0.0.31.post2005241907
threadpoolctl
torch==1.10.1
tqdm==4.31.1
